.box{
	min-height: 500px;
}

/*counter 2*/
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
h1{
	font-size: 3rem;
}
.counter2 {
	font-family: 'Rampart One', cursive;
	font-size: 5em;
}
.counter2:not(.is-visible) {
	visibility: hidden;
}


/*counter3*/
 .cou_3 {
  font-size: 1.2rem;
  border: 1px solid green;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  color: #000000;
}
.coun_3 { 
	font-size: 2rem; 
	margin: 1rem auto; 
}
.form-control {
 	margin-bottom: 1rem;
}
.coun_3 { 
	margin: 20px auto; 
}

/*slider*/
.slider_cont{
	margin: 30px 0;
}
.slide_box {
	padding: 10px;
}

.demo{
	padding: 30px 0;
	background-color: gray;
}
.demo_box{
	padding: 0 20px;
}

.syncing{
	    background: #a99d9e;
	margin-top: 40px;
	text-align: center;
}
.syncing_box h2{
	margin-bottom: 20px;
}


.parallax-window {
    min-height: 500px;
    background: transparent;
}